polkit.addRule(function(action, subject) {
    if (subject.user == "eqos") {
        if (
            action.id == "org.freedesktop.login1.power-off" ||
            action.id == "org.freedesktop.login1.power-off-multiple-sessions" ||
            action.id == "org.freedesktop.login1.reboot"
        ) {
            return polkit.Result.YES;
        }
    }
});
