[Unit]
Description=eQ Kiosk (X11 software rendering)
After=systemd-user-sessions.service getty@tty1.service
Wants=systemd-user-sessions.service

[Service]
Type=simple
User=eqos
Group=eqos
WorkingDirectory=/home/eqos

Environment=HOME=/home/eqos
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=LIBGL_ALWAYS_SOFTWARE=1

SupplementaryGroups=video input

ExecStart=/usr/bin/startx /usr/local/bin/eQ -- :0 -allowMouseOpenFail
Restart=always
RestartSec=3

StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target