[Unit]
Description=eQ Kiosk
After=systemd-user-sessions.service getty@tty1.service
After=graphical.target
After=multi-user.target
After=systemd-logind.service
Wants=systemd-user-sessions.service


[Service]
Type=simple
User=eqos
Group=eqos
WorkingDirectory=/home/eqos
PAMName=login
ExecStartPre=/bin/sleep 1

Environment=HOME=/home/eqos
Environment=DISPLAY=:0
Environment=LIBGL_ALWAYS_SOFTWARE=1
Environment=XAUTHORITY=/home/eqos/.Xauthority

SupplementaryGroups=video input

ExecStart=/usr/bin/startx -- :0 -allowMouseOpenFail
Restart=yes
RestartSec=3

StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target